body {
    background-color: #EAF6F6;
    font-family: 'Merriweather', serif;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

h3 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 370%;
}

h3:hover {
    color: #A2A378;
}

h1:hover {
    color: #A2A378;
}

img:hover {
    opacity: 0.5;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
    text-align: center;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
    text-align: center;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    text-align: center;
    
}

a:hover {
    color: #EAF6F6;
}

.top-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
    margin-bottom: 20px;
}
