body {
    background-color: #EAF6F6;
    font-family: 'Merriweather', serif;
}

hr {
    border-style: none ;
    border-top-style: dotted ;
    border-color: grey;
    border-width: 3px;
    height: 0px;
    width: 5%;
}

h3 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 370%;
}

h3:hover {
    color: #A2A378;
}

h1:hover {
    color: #A2A378;
}

img:hover {
    opacity: 0.5;
}
